@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,900;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

p {
    font-family: 'Titillium web',sans-serif;
}

body {
    background-color: white;
}

section {
    display: block;
}

/* HEADER */

header{
    background-color: white;
    height: 100px;

    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

section {
    display: block;
}

input {
    width: 295.5px;
    height: 44px;
    padding: 8px 35px 8px 8px;

    font-size: 15px;
    border-radius: 5px;
}

.botao-buscar {
    background-color: purple;
    width: 100px;
    height: 44px;
    padding: 8px 30px 8px 8px;
    
    
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;

}


header .logo{
    font-size: 2rem;
    color: #000;
    font-weight: 500;
}
header .navbar a{
    font-size: 1.5rem;
    color: #000;
    margin: 0 2rem;
}
header .navbar a{
    color: purple;
    text-decoration: none;
}
header .icons a{
    font-size: 2rem;
    color: #000;
    margin-left: 1.5rem;
}
header .icons a{
    color: purple;
}
.menu-bar{
    font-size: 2rem;
    padding: .5rem 1rem;
    border: .1rem solid #000;
    color: #000;
    border-radius: .3rem;
    cursor: pointer;
    display: none;
}

/* CATEGORIAS DAS MARCAS */

.section-categorias-home {
    width: 1348px;
    height: 123px;

    padding: 30px 0;
}

.position-relative {
    position: relative;
}

.container {
    width: 1348px;
    height: 123px;
    max-width: 1140px;

    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    width: 1000px;
    height: 103px;

    display: flex;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: 15px;
}

.align-items-center {
    align-items: center;
}

.col-12 {
    width: 1140px;
    height: 103px;

    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.w-auto {
    width: auto;
}

.m-md-0 {
    margin: 0;
}

.mx-4 {
    margin-left: 1.5rem;
}

.swiper-container {
    width: 1110px;
    height: 103px;

    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.swiper-wrapper {
    position: relative;
    width: 1110px;
    height: 103px;
    display: -webkit-box;
}

.w-md-auto {
    width: 110px;
    height: 115px;
}

.swiper-slide {
    position: relative;
}

a {
    color: black;
    text-decoration: none;
}

.text-center {
    text-align: center;
}

.home-category {
    width: 95px;
}

.home-circle-image-md {
    width: 80px;
    height: 80px;
}

.home-circle-image-md {
    position: relative;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    border-radius: 100%;
}

.home-circle-image img {
    position: relative;
    top: 50%;
    left: 50%;
    z-index: 9;
    width: 100%;
    height: 100%;
    transform: translate(-50%,-50%);
    object-fit: cover;
}

.mt-2 {
    margin-top: 0.5rem;
}

.home-category-name {
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.px-md-3 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.p-0 {
    padding: 0;
}

.w-100 {
    width: 100%;
}

.p-1 {
    padding: 0.25rem;

    width: 1269px;
    height: 425.19px;
}

.section-institutional-home {
    padding: 40px 0;
}

.justify-content-center {
    justify-content: center;
}

.col-md-7 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.mb-3 {
    margin-bottom: 1rem;
}

.h1-md {
    font-size: 28px;
}

.section-featured-home {
    width: 1652px;
    height: 516.19px;

    position: relative;
    padding: 25px 0;
    overflow: hidden;
}

.container-2 {
    width: 1348px;
    height: 466.19px;
    max-width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row-2 {
    width: 1300px;
    height: 466.19px;

    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.col-12-2 {
    width: 1300px;
    height: 466.19px;

    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

.h3 {
    margin-top: 0;
    font-family: "Plus Jakarta Sans",sans-serif;
    font-weight: 700;
}

.section-title {
    position: relative;
    z-index: 9;
}

.swiper-wrapper-2 {
    position: relative;
    width: 1261px;
    height: 417.19px;
    display: -webkit-box;
}

.is-inViewport {
    opacity: 1;
    transform: translateY(0px);
}

.item-product {
    width: 240.19px;
    height: 417.19px;

    position: relative;
    z-index: 9;
}

.item {
    width: 240.19px;
    height: 417.19px;

    background: #fff;
    box-shadow: 5px #00000033;
}

.mb-0 {
    margin-bottom: 0;
}

.item {
    overflow: hidden;
    border-radius: 4px;
}

.position-relative-2 {
    width: 240.19px;
    height: 417.19px;

    position: relative;
}

.item-image {
    width: 240.19px;
    height: 240.19px;

    position: relative;
    max-height: 1200px;
    overflow: hidden;
}

.position-relative-3 {
    width: 240.19px;
    height: 240.19px;

    position: relative;
}

.fade-in.lazyloaded {
    opacity: 1;
}

.img-absolute-centered {
    left: 50%;
}


.item-description {
    padding: 10px;
}

.item-link {
    color: #000;
    fill: #000;
}

.item-price-container {
    font-size: 12px;
}

.item-price {
    color: #000;
}

.h5 {
    margin-top: 0;
    font-size: 16px;
}

.font-weight-bold {
    font-weight: 700;
}

.mt-3 {
    margin-top: 1rem;
}

.row-grid {
    margin-right: 15px;
    margin-left: 15px;
}

.align-items-center {
    align-items: center;
}

.row-10 {
    display: flex;
    flex-wrap: wrap;
}

.col-grid {
    padding-right: 15px;
    padding-left: 15px;
}

.col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.btn-small {
    display: inline-block;
    padding: 8px 10px;
    font-size: 10px;
    line-height: 14px;
}

.btn-primary {
    background-color: #000;
    color: #fff;
    fill: #fff;
}

.btn {
    margin: 0;
    text-decoration: none;
    text-align: center;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
    appearance: none;
    white-space: normal;
}


.container-grid-2 {
    width: 1000px;
    margin: 0 auto;
}

footer {
    background-color: black;
    font-size: 12px;
    font: "Plus Jakarta Sans",sans-serif;
}

.rodape {
    color: black;
    display: flex;
    justify-content: space-between;

    padding: 30px 0;
    
}













































.container-grid {
    width: 1882px;
}

.rodape {
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-between;

    padding: 5px;
}

.rodape a {
    color: #fff;
}